@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-image: url('./public/bgr2.jpeg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}