.root {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        min-width: 110px;
        display: flex;
        padding: 3px;
        margin-left: 7px;
    }
    button {
        align-self: center;
        margin-right: 10px;
    }
}